.topbar {
  position: fixed;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;
  border-bottom: solid 1px white;
  background-color: black;
}

.navbar__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}

.navbar__logo-text {
  font-family: "Ubuntu Black", sans-serif;
}

.navbar__logo-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.navbar__loggedout {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 50px;
}

.navbar__loggedout-button {
  border: solid 1px white;
  border-radius: 6px;
  padding: 6px 40px;
  background-color: black;
  color: white;
  font-family: "Ubuntu Medium", sans-serif;
  font-size: small;
  cursor: pointer;
}

.navbar__signin-button:hover {
  background-color: #1ed760;
  color: black;
  border: solid 1px black;
  padding: 6px 41px;
  transition: 0.3s;
}

.navbar__loggedin--desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.navbar__loggedin-hello-user {
  font-family: "Ubuntu Light", sans-serif;
}

.navbar__loggedin-signout-icon {
  margin-left: 30px;
  height: 23px;
  width: 23px;
  margin-left: 30px;
}

.navbar__loggedin-signout-icon:hover {
  color: #1ed760;
}

.navbar__burger {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.navbar__loggedin--mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  border-top: solid 1px white;
}

.navbar__loggedin-signout-text {
  font-family: "Ubuntu Light", sans-serif;
}

.navbar__loggedin--mobile .navbar__loggedin-signout {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.navbar__loggedin-signout:hover {
  color: #1ed760;
}

.navbar__loggedin--mobile .navbar__loggedin-signout p {
  margin-left: 10px;
}

@media screen and (max-width: 1200px) {
  .navbar__loggedin--desktop {
    display: none;
  }
  .navbar__burger {
    display: flex;
    align-items: center;
  }

  .navbar__loggedin--mobile {
    display: flex;
  }

  .navbar__loggedin-hello-user {
    margin-top: 15px;
  }

  .navbar__loggedin-signout-icon {
    margin-left: 0;
  }
}

@media screen and (max-width: 420px) {
  .navbar__logo {
    font-size: 12px;
  }
  .navbar__logo-icon {
    width: 25px;
    height: 25px;
  }
  .navbar__container-left {
    margin-left: 20px;
  }
  .navbar__container-right {
    margin-right: 20px;
  }
}
